<html>
    <head>
        
    </head>
    <body>
        <br/>
    {% if data == null %}
        No Registrations
    {% else %}
        <table border=2>
         <th>User Name</th>
         <th>Email</th>
         <th>Phone Number</th>
         <th>Title</th>
         <th>Vehicle Number</th>
         <th>License Number</th>
         <th>Date</th> 
         <th>Time Slot</th>
         <th>Vehicle Issue</th> 
         <th>Service Center</th> 
         <th>Status</th>
         <th>Action</th>
            {% for d in data %}
                <tr>
                    <td>{{d.first_name}} {{d.last_name}}</td>
                    <td>{{d.email}}</td>
                    <td>{{d.phone_number}}</td>
                    <td>{{d.title}}</td>
                    <td>{{d.vehicle_number}}</td>
                    <td>{{d.user_license_number}}</td>
                    <td>{{d.date}}</td>
                    <td>{{d.timeslot}}</td>
                    <td>{{d.vehicle_issue}}</td>
                    <td>{{d.service_center}}</td>
                    <td>
                        {% if d.status == 0 %}
                        Pending
                        {% else %}
                        Approved
                        {% endif %}
                    </td> 
                    <td>
                        <a href="{{session.base_url}}/public/admin/adminHome/update/{{d.service_id}}">Update</a>
                    </td>   
                </tr>
            {% endfor %}
    </table>
    {% endif %}   

    </body>
</html>