{% extends "header.html" %} {% block title %}Login{% endblock %} {% block body
%}
<div id="login">
  <h3 class="text-center text-white pt-5">Login form</h3>
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">
          <form id="login-form" class="form" method="post" action="{{session.base_url}}/public/user/index">
            <h3 class="text-center text-info">Login</h3>
            <div class="form-group">
              <label for="username" class="text-info">Username:</label><br />
              <input
                type="text"
                name="user[email]"
                id="username"
                required
                value= "{{data.user.email}}"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <label for="password" class="text-info">Password:</label><br />
              <input
                type="password"
                name="user[password]"
                id="password"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <label for="remember-me" class="text-info"
                ><span></span> <span></span></label
              ><br />
              <input
                type="submit"
                name="login"
                class="btn btn-info btn-md"
                value="Login"
              />
            </div>
            <div id="register-link" class="text-right">
              <a
                href="{{session.base_url}}/public/user/register"
                class="text-info"
                >Register here</a
              >
            </div>
          </form>
        </div>
        {{session.errorMessage}}
      </div>
    </div>
  </div>
</div>
{% endblock %}
