<!DOCTYPE html>
<html>
    <head>
        <title>Admin Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            @import url("{{session.base_url}}/resources/loginStyle.css");
        </style>
    </head>
    <body>
     <div id="mainContainer" >   
        <form action="{{session.base_url}}/public/admin/login/checkCredentials" method="post">
            <h2>Login Form</h2>
            <div class="input-container">
              <i class="fa fa-envelope icon"></i>
              <input class="input-field" type="text" placeholder="Email" name="email">
              {{errors.emailError}}
            </div>
          
            <div class="input-container">
              <i class="fa fa-key icon"></i>
              <input class="input-field" type="password" placeholder="Password" name="psw">
              {{errors.pwdError}}
            </div>
            <button type="submit" class="btn">Login</button>
          </form>
          {{errorsMessage}}
        </div>    
    </body>
</html>