.navbar {
    overflow: hidden;
    background-color:dodgerblue;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  #sitename{
    color: #FFFFFF;
    background-color:#333399;
      
  }
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color:lightblue;
    color : dodgerblue;
  }
.footer {
    position: fixed;
    left: 0;
    bottom: -14px;
    width: 100%;
    background-color: dodgerblue;
    color: white;
    text-align: center;
    height: 40px;
 }
.footer a {
  overflow: auto;
  float: left;
  text-align: center;
  padding: 13px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 18%;
}

.footer a:hover{
  background-color:lightblue;
  box-shadow: 0 5px 0 lightblue;
  color : dodgerblue;

}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  } 
  .grid-container {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: auto auto auto;
    padding: 8px;
    margin-top: -30px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 8px;
    font-size: 30px;
    text-align: center;
  }
  * {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 570px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
