{% extends "header.html" %}
       {% block body %} 
            {{name}}
            <table border="1" cellpadding=10>  
                <th>Title</th><th>Content</th><th colspan="2">Action</th>
                {% for post in postsAll %}
                    <tr>
                       <td> {{ post.postTitle }}</td>
                        <td>{{ post.postContent }}</td>
                        <td>
                            <form method="post" action="{{base_url}}/posts/delete">
                                <input type="hidden" name="id" value="{{post.postId}}">
                                <input type="submit" value="delete" onclick="return deleteConfirm();">
                            </form>
                        </td>
                        <td><a href="{{base_url}}/public/posts/{{post.postId}}/fetchEdit">Update</a></td>
                    </tr>    
                {% endfor %}
            </table>    
            <br/>
            <form method="post" action="edit" >
                <input type="hidden" value="{{postsUpdate.postId}}" name="id">
                Post Title: <input type="text" name="txt1" value="{{postsUpdate.postTitle}}" required>
                <br/>
                <br/>
                Post Content : <textarea name="ta1" required>{{postsUpdate.postContent}}</textarea name="ta1">
                <br/>
                <input type ="submit" value="Edit" name="Edit">   
            </form>
            
{% endblock %}    
