<!DOCTYPE html>
<html >
    <head></head>
    <body>
        <a href="{{session.base_url}}/public/home/index"> Home</a>
        <a href="{{session.base_url}}/public/posts/index"> Posts</a>
        <br>
        {% block body %}
        {% endblock %}
        <script>
            function deleteConfirm() {
              var conf = confirm("are u sure you want to delete this");
              if(conf){
                  return true;
              }else{
                  return false;
              }
            }
            function updateForm(){
                document.getElementById("add").style.display = none;
                document.getElementById("edit").style.display = block;

            }
        </script>
    </body>
</html>